@import 'vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: "Montserrat Alternates", "arial";
    color: $bl;
} 

a, input, button {
    font: inherit;
    text-decoration: none;
}

.center { 
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $wh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;

    &__logo {
        font-size: 32px;
        font-weight: 800;
        line-height: 39px;
        color: $bl;
    }

    &__nav {
        display: flex;
        gap: 48px;
        list-style-type: none;
    }

    &__li {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: $bl;
    }

    &__btn {
        @extend .header__li;
        color: $br;
        border: 1px solid $br;
        border-radius: 24px;
        padding: 16px 36px;
        transition: all 0.5s;

        &:hover {
            color: $wh;
            background-color: $br;
            text-decoration: none;
        }
    }
}

.heading {
    background: 
        url(img/grains.png) no-repeat 72.1vw 178px,
        url(img/board.png) no-repeat 39.15vw 90px,
        $bg;
    padding-bottom: 208px;
    display: flex;

    &__name {
        padding-top: 238px;
        font-size: 48px;
        font-weight: 800;
        line-height: 59px;
        max-width: 578px;

        &-wg {
            font-weight: 400;
        }
    }

    &__title {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        max-width: 500px;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        max-width: 498px;
        padding-bottom: 40px;
    }

    &__btn {
        @extend .header__btn;
        padding: 16px 96px;
    }

    &__bg {
        position: relative;
    }

    &__coffee {
        position: absolute;
        left: 20px;
        top: 29.6vh;
        transition: all 0.3s;

        &:hover {
            transform: rotate(-15deg);
        }
    }

    &__cookie {
        position: absolute;
        left: 50px;
        top: 83vh;
        transition: all 0.3s;

        &:hover {
            transform: rotate(-15deg);
        }
    }

    &__cinnamon {
        position: absolute;
        left: 22vw;
        top: 29vw;
        transition: all 0.3s;

        &:hover {
            transform: rotate(-15deg);
        }
    }
}

.about {
    background-color: $bg;

    &__div  {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-bottom: 48px;
    }

    &__group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__card {
        border-radius: 24px;
        background-color: $wh;
        grid-column: span 6;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        display: flex;
        gap: 20px;

        &:hover &-img {
            transform: scale(1.06);
        }

        &-img {
            border-radius: 24px 0 0 0;
            transition: all 0.5s;
        }

        &-name {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            padding-bottom: 14px;
            padding-top: 20px;
        }

        &-desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            padding-right: 20px;
        }
    }
}

.menu {
    background-color: $bg;

    &__div {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__up {
        display: flex;
        justify-content: space-between;
        padding-bottom: 48px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }

    &__buttons {
        display: flex;
        gap: 7px;
        align-items: center;
    }

    &__btn {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        color: $br;
        border: 1px solid $br;
        border-radius: 24px;
        transition: all 0.5s;

        &:hover {
            color: $wh;
            background-color: $br;
        }

        &-1 {
            padding: 14px 40px 14px 40px;
        }

        &-2 {
            padding: 14px 24px 14px 24px;
        }

        &-3 {
            padding: 14px 28px 14px 28px;
        }

        &.active {
            background-color: $br;
            color: $wh;
        }

        &:focus {
            outline: none;
        }
    }

    &__carousel {
        display: flex;
        position: relative;
        width: 100%;
    }

    &__group {
        display: none;
        width: 100%;

        &.active {
            display: grid;
            gap: 32px;
            grid-template-columns: repeat(12, 1fr);
        }
    }

    &__card {
        border-radius: 24px;
        grid-column: span 3;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);

        &:hover &-img {
            transform: scale(1.07);
            border-radius: 24px;
        }
        
        &-img {
            border-radius: 24px 24px 0 0;
            transition: all 0.5s;
        }

        &-info {
            background-color: $wh;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            border-radius: 0px 0px 24px 24px;
        }

        &-price {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
        }

        &-desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }

        &-value {
            @extend .menu__card-desc;
            color: #9A9A9A;
        }
    }
}

.fb {
    background-color: $bg;

    &__div {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-bottom: 48px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__card {
        border-radius: 24px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        background-color: $wh;
        grid-column: span 4;

        &-up {
            display: flex;
            gap: 20px;
            padding: 20px;
        }

        &-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            padding-bottom: 7px;
        }

        &-comm {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            padding-left: 20px;
            padding-bottom: 20px;
        }
    }
}

.relations {
    background-color: $bg;

    &__div {
        padding-bottom: 64px;
        padding-top: 64px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        padding-bottom: 48px;
    }

    &__groups {
        display: flex;
        gap: 32px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 20px;
        background-color: $wh;
        border-radius: 24px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        margin-bottom: 14px;

        &-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            padding-bottom: 8px;
        }

        &-links {
            display: flex;
            gap: 10px;

            &:hover path {
                fill: $br;
            }

            &:hover .relations__contacts-link {
                color: $br;
            }
        }

        &-link {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: $bl;
        }
    }

    &__reservation {
        border-radius: 24px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
        padding: 20px;
        background-color: $wh;

        &-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            padding-bottom: 24px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        &-input {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: $bl;
            padding: 14px 0 16px 24px;
            border: 1px solid #DEDEDE;
            border-radius: 24px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #9A9A9A;
            }
        }

        &-btn {
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            color: $br;
            border: 1px solid $br;
            border-radius: 24px;
            background-color: transparent;
            padding: 14px 106px;
            margin-top: 16px;
            transition: all 0.5s;

            &:hover {
                text-decoration: none;
                color: $wh;
                background-color: $br;
            }
        }
    }

    &__place {

        &-map {
            border-radius: 24px;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);   
        }
    }
}

.footer {
    background-color: $wh;

    &__div {
        padding-top: 43px;
        padding-bottom: 43px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        gap: 14px;

        &-name {
            font-size: 32px;
            font-weight: 800;
            line-height: 39px;
            color: $bl;
        }

        &-title {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #9A9A9A;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__list {
        list-style-type: none;
        display: flex;
        gap: 24px;

        &-link {
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            color: $bl;
        }
    }

    &__icons-svg {
        padding-right: 14px;
    }
}
